* {
    margin: 0;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

body {
    height: fit-content;
    background-color: #1f2227;
    color: #ffffff;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto;
}

footer {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 1em auto;
}

a {
    color: #e34c26;
    text-decoration: none;
}

a:hover {
    color: #e34c26;
    text-decoration: underline;
}

#input-container {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

#output-container {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#protocol-container {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

#header-container {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

#fetch-url {
    width: 84%;
}

pre {
    background-color: #1f2227;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px;
    overflow-x: auto;
}

input {
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid silver;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1f2227;
    outline: none;
}

input:hover {
    background-color: #2f3136;
}

select {
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid silver;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1f2227;
    outline: none;
}

select:hover {
    background-color: #2f3136;
}

button {
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid silver;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1f2227;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #2f3136;
}

textarea {
    background-color: #1f2227;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px;
    overflow-x: auto;
    width: 100%;
    height: fit-content;
    color: #ffffff;
    resize: none;
}

textarea:hover {
    background-color: #2f3136;
}

.json-key {
    color: #6ce890;
}
.json-value {
    color: #ed5c65;
}
.json-string {
    color: #f5eea2;
}